---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="React with Astro">
    <Pick tools={[tools.react, tools.astro]} fullStackSplit="FE+BE">
        <p>React with Astro</p>
    </Pick>
</Layout>
