---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="Next.js with Create T3 App">
    <Pick tools={[tools.nextjs, tools.createt3app]} fullStackSplit="FE+BE">
        <p>
            Create T3 App is the best way to start a full-stack, typesafe
            Next.js app.
        </p>
        <p>
            Next.js is the React Framework for Production. It provides one of
            the best developer experiences. Create T3 App is a CLI tool which
            allows you to select the tools you want to use and sets them all up
            for you.
        </p>
        <p>Create T3 App was made by Theo's community.</p>
    </Pick>
</Layout>
