---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="NextJS with Create T3 App">
    <Pick tools={[tools.nextjs, tools.createt3app]}>
        <p>
            Create T3 App best way to start a full-stack, typesafe Next.js app.
        </p>
    </Pick>
</Layout>
