---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="NuxtJS">
    <Pick tools={[tools.nuxtjs]}>
        <p>NuxtJS</p>
    </Pick>
</Layout>
