---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="RedwoodJS">
    <Pick tools={[tools.redwoodjs]} fullStackSplit="FE+BE">
        <p>
            If you love GraphQL, and need it in your project, there is no better
            place to start than RedwoodJS.
        </p>
        <p>
            RedwoodJS provides a React fronted that talks to a custom GraphQL
            API, all setup up for you with additional tools. This makes it more
            oppinionated than other alternatives, but this gives a great
            starting point if you agree with those opinions.
        </p>
    </Pick>
</Layout>
