---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="RedwoodJS">
    <Pick tools={[tools.redwoodjs]}>
        <p>RedwoodJS</p>
    </Pick>
</Layout>
