---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="Remix">
    <Pick tools={[tools.remix]}>
        <p>Remix</p>
    </Pick>
</Layout>
