---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="Remix">
    <Pick tools={[tools.remix]} fullStackSplit="FE+BE">
        <p>
            Remix was open sources at the end of 2021 to challenge the position
            of Next.js as the React framework.
        </p>
        <p>
            Remix aims to embrace web standards, providing progressive
            enhancement to improve the UX when possible. It embraces the
            server/client model of an application, clearly serparating source
            code from content/data.
        </p>
    </Pick>
</Layout>
