---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="SolidStart">
    <Pick tools={[tools.solidstart]} fullStackSplit="FE+BE">
        <p>SolidStart is the meta-framework built for SolidJS.</p>
        <p>
            It is still in <strong>beta</strong>, meaning it is very much still
            bleeding edge technology. However, if you need SSR/a backend for
            your Solid applciation, this is the way to go.
        </p>
    </Pick>
</Layout>
