---
import Layout from "../../../layouts/Layout.astro";
import Pick from "../../../components/Pick.astro";
import { tools } from "../../../utils/tools";
---

<Layout title="SolidStart">
    <Pick tools={[tools.solidstart]} fullStackSplit="FE+BE">
        <p>SolidStart</p>
    </Pick>
</Layout>
