---
import Layout from "../../../layouts/Layout.astro";
import Question from "../../../components/Question.astro";
import Details from "../../../components/Details.astro";
---

<Layout title="Bit of Interactivity">
    <Details>
        <p>
            So you only need a bit of interactivety, the framework to pick
            depends on the nature of this little reactivity required.
        </p>
    </Details>
    <hr />
    <Question
        choices={[
            {
                label: "A little",
                href: "/app/fullstack/astro-react",
            },
            {
                label: "A lot",
                href: "/app/fullstack/remix",
            },
        ]}
    >
        <p>How much do the "interactive" bits interact?</p>
        <p>In other words, how connected are the different components/pages?</p>
    </Question>
</Layout>
