---
import Layout from "../../../layouts/Layout.astro";
import Question from "../../../components/Question.astro";
import Details from "../../../components/Details.astro";
---

<Layout title="Web Application">
    <Details>
        <p>
            There are many different choices here. This question will help you
            pick the best framework for you.
        </p>
    </Details>
    <hr />
    <Question
        choices={[
            {
                label: "Very",
                href: "/app/fullstack/solidstart",
            },
            {
                label: "Some",
                href: "/app/fullstack/nextjs",
            },
            {
                label: "None",
                href: "/app/fullstack/redwoodjs",
            },
        ]}
    >
        <p>How bleeding edge will you go?</p>
    </Question>
</Layout>
