---
import Layout from "../layouts/Layout.astro";
import Question from "../components/Question.astro";
---

<Layout title="Welcome to Pick Framework">
    <h2>Introduction</h2>
    <div class="intro">
        <p>
            This is a <strong>site</strong> to help you pick the framework for your
            next project! This is take directly from
            <a href="https://www.twitch.tv/theo" target="_blank">Theo</a>'s
            livestream on Twitch.
        </p>
        <p><a href="https://youtu.be/coSJO6-EOVc">Link to VOD on YouTube</a></p>
        <h3>Notes from Theo:</h3>
        <ul>
            <li>Theo is not unbiased</li>
            <li>Learn what you want!</li>
            <li>
                Omitted frameworks were done for a reason (you can still use
                them though)
            </li>
            <li>Please use frontend technologies for frontends</li>
        </ul>
    </div>
    <hr />
    <Question
        choices={[
            {
                label: "Site",
                href: "/site",
            },
            {
                label: "App",
                href: "/app",
            },
        ]}
    >
        <h2>Start Here</h2>
        <p>Is the project a site or an app?</p>
        <p>
            This can be distinguished based on how users interact with the site.
        </p>
        <ul>
            <li>Are most interactions links? - Site</li>
            <li>Are most interactions JavaScript? - App</li>
        </ul>
    </Question>
</Layout>

<style>
    .intro {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
</style>
