---
import type { Tool } from "../utils/tools";

export interface Props {
    tools: Tool[];
    fullStackSplit: "FE" | "FE+BE" | "Site";
}

const { tools, fullStackSplit } = Astro.props;

const frontendOnly = fullStackSplit === "FE";
const frontendBackend = fullStackSplit === "FE+BE";
---

<h2>Pick</h2>
<div
    class:list={[
        "details",
        { frontend: frontendOnly },
        { frontendBackend: frontendBackend },
    ]}
>
    <div class="grid">
        <div class="tools">
            {
                tools.map((tool) => (
                    <a href={tool.url} class="tool" target="_blank">
                        <img src={tool.icon} alt={tool.name + " icon"} />
                        <p>{tool.name}</p>
                    </a>
                ))
            }
        </div>
        <div class="slot">
            <slot />
        </div>
    </div>
</div>

<style>
    .details {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
        position: relative;
        min-width: fit-content;
    }

    .details::before {
        position: absolute;
        display: block;
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
        border-radius: 9999px;
        color: #111;
        border: 1px solid rgba(var(--accent), 25%);
        top: 0;
        right: 2rem;
        transform: translateY(-50%);
    }

    .details.frontend::before {
        content: "Frontend";
        background-color: #dcfce7;
        border: 2px solid ##22c55e44;
    }

    .details.frontendBackend::before {
        content: "Frontend + Backend";
        background-color: #fee2e2;
        border: 2px solid #ef444488;
    }

    .grid {
        display: flex;
        gap: 1rem;
    }

    .tools {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: clamp(8rem, 17rem, 50%);
        padding: 1em 0;
    }

    @media (max-width: 30rem) {
        .grid {
            flex-direction: column;
        }

        .tools {
            width: 100%;
        }
    }

    .tool {
        text-align: center;
        margin-right: 1rem;
    }

    .tool:last-child {
        margin-right: 0;
    }

    .tool p {
        margin: 0;
    }

    img {
        width: 8rem;
    }

    .slot {
        flex: 1 1 auto;
    }
</style>
