---
import Layout from "../../layouts/Layout.astro";
import Pick from "../../components/Pick.astro";
import { tools } from "../../utils/tools";
---

<Layout title="Eleventy">
    <Pick tools={[tools.eleventy]} fullStackSplit="Site">
        <p>
            Eleventy is good at scaling and having fast DX when you have a shit
            load of stuff in it.
        </p>
    </Pick>
</Layout>
