---
import Layout from "../../layouts/Layout.astro";
import Pick from "../../components/Pick.astro";
import { tools } from "../../utils/tools";
---

<Layout title="Hugo">
    <Pick tools={[tools.hugo]} fullStackSplit="FE">
        <p>
            Hugo is surprisingly decent for if you really hate JavaScript and
            HTML.
        </p>
    </Pick>
</Layout>
