---
export interface Props {
    title: string;
}

const { title, backlink } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <h1>{title}</h1>
            <slot />
        </main>
    </body>
</html>
<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );
    }
    html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
    }
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 48rem;
        min-width: 15rem;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin-top: 0;
        text-align: center;
    }
    h2,
    h3 {
        margin: 0;
    }
    strong {
        color: rgb(var(--accent));
    }
</style>
